{% extends "layout.html" %}

{% block title %}
    How to
{% endblock %}

{% block main %}
        <br/>
        <div style="background-color: white">
    <h3>Instructions:</h3>
    <p>Control your tasks on this table.
    You will be asked to fill a simple form with yout task's information.<br/>
    By editing the status, the task will automatically be moved to the other rows.<br/>
    Feel free to edit or delete them at you own will.<br/>
        </div>
    <br/>

            <br/>

<button type="button" class="btn btn-warning"><a href="/">Home</a></button>


{% endblock %}
